<title>{{{title}}}</title>
	<div class="hero-wrap hero-bread" style="background-image: url('images/bg_1.jpg');">
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
          	<p class="breadcrumbs"><span class="mr-2"><a href="index.html">Trang chủ</a></span> <span>Giỏ hàng</span></p>
            <h1 class="mb-0 bread">Giỏ hàng</h1>
          </div>
        </div>
      </div>
    </div>

    <section class="ftco-section ftco-cart">
			<div class="container">
				<div class="row">
    			<div class="col-md-12 ftco-animate">
    				<div class="cart-list">
	    				<table class="table">
						    <thead class="thead-primary">
						      <tr class="text-center">
						        <th>&nbsp;</th>
						        <th>&nbsp;</th>
						        <th>Tên sản phẩm</th>
						        <th>Đơn giá</th>
						        <th>Số lượng</th>
						        <th>Thành tiền</th>
						      </tr>
						    </thead>
						    <tbody>
						      <tr class="text-center">
						        <td class="product-remove"><a href="#"><span class="ion-ios-close"></span></a></td>
						        
						        <td class="image-prod"><div class="img" style="background-image:url(images/product-3.jpg);"></div></td>
						        
						        <td class="product-name">
						        	<h3>Ớt chuông</h3>
						        </td>
						        
						        <td class="price">&#8363;4.900</td>
						        
						        <td class="quantity">
						        	<div class="input-group mb-3">
					             	<input type="text" name="quantity" class="quantity form-control input-number" value="1" min="1" max="100">
					          	</div>
					          </td>
						        
						        <td class="total">&#8363;4.900</td>
						      </tr><!-- END TR-->

						      <tr class="text-center">
						        <td class="product-remove"><a href="#"><span class="ion-ios-close"></span></a></td>
						        
						        <td class="image-prod"><div class="img" style="background-image:url(images/product-4.jpg);"></div></td>
						        
						        <td class="product-name">
						        	<h3>Ớt chuông</h3>
						        </td>
						        
						        <td class="price">&#8363;15.700</td>
						        
						        <td class="quantity">
						        	<div class="input-group mb-3">
					             	<input type="text" name="quantity" class="quantity form-control input-number" value="1" min="1" max="100">
					          	</div>
					          </td>
						        
						        <td class="total">&#8363;15.700</td>
						      </tr><!-- END TR-->
						    </tbody>
						  </table>
					  </div>
    			</div>
    		</div>
    		<div class="row justify-content-end">
    			<div class="col-lg-4 mt-5 cart-wrap ftco-animate">
    				<div class="cart-total mb-3">
    					<h3>Mã giảm giá</h3>
    					<p>Nhập mã giảm giá nếu có</p>
  						<form action="#" class="info">
	              <div class="form-group">
	              	<label for="">Mã giảm giá</label>
	                <input type="text" class="form-control text-left px-3" placeholder="">
	              </div>
	            </form>
    				</div>
    				<p><a href="/thanh-toan" class="btn btn-primary py-3 px-4">Dùng mã giảm giá</a></p>
    			</div>
    			<div class="col-lg-4 mt-5 cart-wrap ftco-animate">
    				<div class="cart-total mb-3">
    					<h3>Ước lượng thuế phí</h3>
    					<p>Nhập địa chỉ của bạn để ước tính thuế phí</p>
  						<form action="#" class="info">
	              <div class="form-group">
	              	<label for="">Tỉnh/Thành</label>
	                <input type="text" class="form-control text-left px-3" placeholder="">
	              </div>
	              <div class="form-group">
	              	<label for="country">Địa chỉ</label>
	                <input type="text" class="form-control text-left px-3" placeholder="">
	              </div>
	            </form>
    				</div>
    				<p><a href="checkout.html" class="btn btn-primary py-3 px-4">Ước lượng</a></p>
    			</div>
    			<div class="col-lg-4 mt-5 cart-wrap ftco-animate">
    				<div class="cart-total mb-3">
    					<h3>Tổng cộng giỏ hàng</h3>
    					<p class="d-flex">
    						<span>Tạm tính</span>
    						<span>&#8363;20.600</span>
    					</p>
    					<p class="d-flex">
    						<span>Vận chuyển</span>
    						<span>&#8363;0.000</span>
    					</p>
    					<p class="d-flex">
    						<span>Giảm giá</span>
    						<span>&#8363;3.000</span>
    					</p>
    					<hr>
    					<p class="d-flex total-price">
    						<span>Thành tiền</span>
    						<span>&#8363;17.600</span>
    					</p>
    				</div>
    				<p><a href="/thanh-toan" class="btn btn-primary py-3 px-4">Chuyển sang thanh toán</a></p>
    			</div>
    		</div>
			</div>
		</section>