<title>{{{title}}}</title>
<div class="hero-wrap hero-bread" style="background-image: url('images/bg_1.jpg');">
	<div class="container">
		<div class="row no-gutters slider-text align-items-center justify-content-center">
			<div class="col-md-9 ftco-animate text-center">
				<p class="breadcrumbs"><span class="mr-2"><a href="/">Trang chủ</a></span> <span>Thanh toán</span></p>
				<h1 class="mb-0 bread">Thanh toán</h1>
			</div>
		</div>
	</div>
</div>

<!-- SECTION -->
<div class="section">
	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">

			<div class="col-md-7">
				<!-- Billing Details -->
				<div class="billing-details">
					<div class="section-title">
						<h3 class="title">Thông tin khách hàng</h3>
					</div>
					<div class="form-group">
						<input class="input" type="text" name="first-name" placeholder="Họ">
					</div>
					<div class="form-group">
						<input class="input" type="text" name="last-name" placeholder="Tên">
					</div>
					<div class="form-group">
						<input class="input" type="email" name="email" placeholder="Email">
					</div>
					<div class="form-group">
						<input class="input" type="text" name="address" placeholder="Địa chỉ">
					</div>
					<div class="form-group">
						<input class="input" type="text" name="city" placeholder="Tỉnh/Thành phố">
					</div>
					<div class="form-group">
						<input class="input" type="tel" name="tel" placeholder="Số điện thoại">
					</div>
				</div>
				<!-- /Billing Details -->

				<!-- Shiping Details -->
				<div class="shiping-details">
					<div class="section-title">
						<h3 class="title">Địa chỉ vận chuyển</h3>
					</div>
					<div class="input-checkbox">
						<input type="checkbox" id="shiping-address">
						<label for="shiping-address">
							<span></span>
							Gửi tới một địa chỉ khác?
						</label>
						<div class="caption">
							<div class="form-group">
						<input class="input" type="text" name="first-name" placeholder="Họ">
					</div>
					<div class="form-group">
						<input class="input" type="text" name="last-name" placeholder="Tên">
					</div>
					<div class="form-group">
						<input class="input" type="email" name="email" placeholder="Email">
					</div>
					<div class="form-group">
						<input class="input" type="text" name="address" placeholder="Địa chỉ">
					</div>
					<div class="form-group">
						<input class="input" type="text" name="city" placeholder="Tỉnh/Thành phố">
					</div>
					<div class="form-group">
						<input class="input" type="tel" name="tel" placeholder="Số điện thoại">
					</div>
						</div>
					</div>
				</div>
				<!-- /Shiping Details -->

				<!-- Order notes -->
				<div class="order-notes">
					<textarea class="input" placeholder="Ghi chú"></textarea>
				</div>
				<!-- /Order notes -->
			</div>

			<!-- Order Details -->
			<div class="col-md-5 order-details">
				<div class="section-title text-center">
					<h3 class="title">Đơn hàng của bạn</h3>
				</div>
				<div class="order-summary">
					<div class="order-col">
						<div><strong>SẢN PHẨM</strong></div>
						<div><strong>TỔNG CỘNG</strong></div>
					</div>
					<div class="order-products">
						<div class="order-col">
							<div>1x Cà chua</div>
							<div>$980.000</div>
						</div>
						<div class="order-col">
							<div>2x Bông cải</div>
							<div>$980.000</div>
						</div>
					</div>
					<div class="order-col">
						<div>Phí vận chuyển</div>
						<div><strong>Miễn phí</strong></div>
					</div>
					<div class="order-col">
						<div><strong>TOTAL</strong></div>
						<div><strong class="order-total">$2940.000</strong></div>
					</div>
				</div>
				<div class="payment-method">
					<div class="input-radio">
						<input type="radio" name="payment" id="payment-1">
						<label for="payment-1">
							<span></span>
							Chuyển khoản trực tiếp qua ngân hàng
						</label>
						{{!-- <div class="caption">
							<p></p>
						</div> --}}
					</div>
					<div class="input-radio">
						<input type="radio" name="payment" id="payment-3">
						<label for="payment-3">
							<span></span>
							Qua Paypal
						</label>
						{{!-- <div class="caption">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
								incididunt ut labore et dolore magna aliqua.</p>
						</div> --}}
					</div>
				</div>
				<div class="input-checkbox">
					<input type="checkbox" id="terms">
					<label for="terms">
						<span></span>
						Tôi đã đọc và chấp thuận với <a href="#">với các điều khoản và điều kiện</a>
					</label>
				</div>
				<a href="#modalOrderSuccess" data-toggle = "modal" class="primary-btn order-submit">Đặt hàng</a>
								<div id = "modalOrderSuccess" class="modal fade text-center">
					<div class="modal-dialog modal-confirm">
						<div class="modal-content">
							<div class="modal-header">
								<div class="icon-box">
									<i class="material-icons">&#xE876;</i>
								</div>
								<h4 class="modal-title">Thành công!</h4>
							</div>
							<div class="modal-body">
								<p class="text-center">Bạn đã đặt hàng thành công
								</p>
							</div>
							<div class="modal-footer">
								<button class="login100-form-btn trigger-btn" data-dismiss="modal">Tiếp tục</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /Order Details -->
		</div>
		<!-- /row -->
	</div>
	<!-- /container -->
</div>
<!-- /SECTION -->